<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732669493855-rvkipqg7v9fs75mg67l06ot74q931mk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732669493855-rvkipqg7v9fs75mg67l06ot74q931mk4</string>
	<key>API_KEY</key>
	<string>AIzaSyBGjzKEOMF2gPJlpVWaee-1L87Ln6FdU-E</string>
	<key>GCM_SENDER_ID</key>
	<string>732669493855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AKRSApps.ProtoConnect123</string>
	<key>PROJECT_ID</key>
	<string>protoconnect-8e5ee</string>
	<key>STORAGE_BUCKET</key>
	<string>protoconnect-8e5ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732669493855:ios:ef050ec23e098eaf3551ea</string>
</dict>
</plist>